

body{
    margin: 0;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,
    Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,
    Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;;

    --webkit-font-smoothing:antialiased;
    background-color: #f3f2ef;
    


}



.body__container{
    /* max-width: 100vw; */
    
    padding-left: 20%;
    display: flex;
}

.header__container{
    z-index: 999;
    background-color: white;
    position: sticky;
    top: 0;
    
}

.sidebar__container{
    width: 13%;
}


